# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock

# Files generated during tests
.test_coverage.dart
coverage/
.test_runner.dart

# Android studio and IntelliJ
.idea
.env*
.flaskenv*
!.env.project
!.env.vault
.history

/shazam_api/bin/
/shazam_api/lib/
/shazam_api/include/
/shazam_api/pyvenv.cfg
.DS_Store